@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #131F30;
  background-image: radial-gradient(
    circle at top,
    #1B2C42 0%,
    #131F30 55%
  );
  background-attachment: fixed;
  color: #F7FAFD;
}
